body {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 10pt;
	color:#565656;
	background-color:#FFFFFF;
}
/*a {
	text-decoration:none;
	color:#565656;
}*/
a:link,a:active,a:visited{
	text-decoration:none;
	color:#565656;
}
.button {
	color:#565656;
	position:relative;
	list-style:none;
	margin:0px auto;
	float:left;
	line-height:1.74em;
	border:1px solid #FFFFFF;
	text-align:center;
	display:block;
	padding:0.25em 0.25em 0.25em 0.5em;
	text-decoration:none;
	background-color:#DFDFDF;
	font-size:100%;
	font-weight: bold;
	width:140px;
} 
.button:hover{
	color:#5656FF;
	background:#D0E9F6;
	font-size:100%;
}
/* Used for the top menu bar */
div#nav{
	border:0px solid #000033;
	color:#000;
	height:16pt;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-weight: bold;
} 
div#nav ul{
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	/*width:50%;*/
	padding:0px;
} 
div#nav li{
	color:#565656;
	position:relative;
	list-style:none;
	margin:0px auto;
	float:left;
	line-height:1.74em;
	border:1px solid #FFFFFF;
	text-align:center;
	display:block;
	padding:0.25em 0.25em 0.25em 0.5em;
	text-decoration:none;
	/*background-color:#F5F5F5;*/
	background-color:#DFDFDF;
	font-size:100%;
} 
div#nav li:hover{
	color:#5656FF;
	background-color:#D0E9F6;
	font-size:100%;
}
div#nav li a,select{
	/*display:block;*/
	text-decoration:none;
	color:#565656;
	background:none;
	font-size:100%;
}
h1,h2,h3 {font-size: 125%;}
li.subnetlink {
	/*width: 7.2em;*/
	width: 9.0em;
} 
li.subnetpulldown {
	/*width: 7.2em;*/
	width: 10.0em;
} 
img {border: none !important;}
/* This is for row spacers between mosaic rows */
tr.mosaicblankrow
{
	height: 16px; 
	#background-color:#999999;
}
.tdimg
{
	/*overflow: hidden;*/
	margin:0px;
	border:0px;
	padding:0px;
	overflow: auto;
	height: 150px; 
	width: 96px;	
}

/* Hide divs on load that have class="hidden" */
.hidden { 
	display:none;
}
table.center
{
	empty-cells:show;
	border:0;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#mosaictable
{
	background-color:#DFDFDF;
}
/* not used 
.localtime {
	font-size:60%;
}
*/
.sideborder {
	display: table;
	border-left: 3px solid black;
	border-right: 3px solid black;
	margin: 5px;
}
td.time {
	background-color:#DFDFDF;
}
	
